header{
    width: 100%;
    height: 35px;
    background-color: rgb(23, 23, 24);
    text-align: center;
    font-family: arial;
    line-height: 30px;
}
header li{
    float: left;
    width: 10%;
    list-style: none; 
}

header li a{
    text-decoration: none;
    color: white;
}
p{
    column-count: 4;
    column-rule: 3px double black;
    text-align: justify;
}   
.span{
    column-span: all;
}
footer{
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
}